<!doctype html>
<html>
<head>
{% load static %}
<title>NGUYEN QUANG HAI</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
Content goes here.
    <div class="menu">
        <ul>
            <a href="{% url 'home:home' %}"><li>HOME</li></a>
            <a href="{% url 'blog:blog' %}"><li>Blog</li></a>
            {% comment %} <a href="{% url 'product:product' %}"><li>Product</li> {% endcomment %}
            <a href="{% url 'contact:contact' %}"><li>About</li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>