<!doctype html>
<html>
<head>
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}

{% bootstrap_javascript %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{% bootstrap_messages %}
<title>NGUYEN QUANG HAI</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = 'text/css'>

</head>
<body>
<script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>  
<script type="text/javascript" src="{% static 'home/js/bootstrap.js' %}"></script> 


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='col-12'>
        <form action="{% url 'UserMember:login' %}" method="post">
          <div class="modal-body mx-3">
            
              {% csrf_token %}
          
        
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                {{ lForm.username|as_crispy_field }}
              </div>

              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                {{ lForm.password|as_crispy_field }}
              </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button onclick="logmein()" class="btn btn-default">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'UserMember:register' %}" method="post">
        
        <div class="modal-body mx-3">
          
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            {{ reg.username }}
            <label data-error="wrong" data-success="right" for="orangeForm-name">Username</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            {{ reg.password }}
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Password</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            {{ reg.userID }}
            <label data-error="wrong" data-success="right" for="orangeForm-name">Person ID</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange" type = "submit">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>




<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-branch" href="#">
            <img src="{% static 'home/image/image1.jpg' %}" alt="bannner" height="70"> 
        </a>
        <button class="navbar-toggler" type ="button" data-toggle= "collapse" data-target="#navbarReponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarReponsive">
            <ul class="navbar-nav ml-auto">
                <li class= "nav-item">
                    <a class="nav-link" href="{% url 'home:home' %}">HOME</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar">
            <form class="form-inline">
                <a href="{% url 'UserMember:register' %}" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>
                <a href="{% url 'UserMember:login' %}" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true"  data-toggle="modal" data-target="#modalLoginForm">Sign In</a>
                
            </form>
        </div>
        
    </div>
    
</nav>
<!-- Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" ></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center">
            <img class="d-block w-100" src="{% static 'home/image/image_banner3.jpg' %}" alt="">
            {% comment %} <div class="carousel-caption">
                <h1 class="display-2">Example</h1>
                <h3>Auto with bootstrap</h3>
                <button type = "button" class="btn btn-outline-light btn-lg">Tutorial</button>
            </div>  {% endcomment %}
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" src="{% static 'home/image/image_banner4.jpg' %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'home/image/image_banner2.jpg' %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'home/image/image_banner3.jpg' %}" alt="">
        </div>

    </div>
</div>





</div> 


    <div class="menu">
        <ul>
            {% comment %} <a href="{% url 'home:home' %}"><li>HOME</li></a>
            <a href="{% url 'blog:blog' %}"><li>Blog</li></a>
            {% comment %} <a href="{% url 'product:product' %}"><li>Product</li>
            <a href="{% url 'contact:contact' %}"><li>About</li>
             {% endcomment %} 
        </ul>
    </div>

<script>
    function logmein() {
      var username = $.trim($('#userName').val());
      var password = $.trim($('#password').val());
      console.log(username + "-" + password);
      $.ajax({
          url: '{{ 'login' }}',
          type : "post",
          data : {
              username: username,
              password : password,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          }
      }).done(function(data) {
          if (data == "fine") {
              window.location = window.location;
          } 
      });
  }
</script> 
</body>
</html>